/* CSS */
.sidebar {
    position: fixed;
    top: 0;
    right: -200px; /* Hide sidebar by default */
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.5s ease-in-out;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .main-content {
    margin-left: 200px; /* Adjust margin to accommodate sidebar width */
  }
  
  /* Style the sidebar links/buttons as needed */