.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movies-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    white-space: nowrap; /* Prevent wrapping of movie items */
    max-width: 100%; /* Ensure the movies container takes full width */
  }
  
  .books-container {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 70vh; /* Adjust the height as needed */
  }
  